* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main-content {
  width: 870px;
}

.side-bar {
  width: 270px;
}

.cards-holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards-holder > .card-link {
  margin-bottom: 30px;
}
a.card-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
a.card-link:hover {
  opacity: 0.9;
  transform: translateY(-5px);
}

.card {
  position: relative;
  width: 270px;
  background-color: #fff;
}

.card__badges {
  display: flex;
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
}

.card__badges > * + * {
  margin-left: 10px;
}

.card__badge {
  display: inline-block;
  background: #525252;
  border-radius: 4px;
  height: 22px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.card__badge--class {
  color: #000000;
  background-color: #ffcf26;
}

.card__badge--credit {
  color: #fff;
  background-color: #11be75;
}
.card__img {
}

.card__content {
  padding: 15px 15px 20px;
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  margin-bottom: 10px;
}

.card__term {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.card__metro {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.card__metro::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 11px;
  background-image: url("./../img/Vector.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.card__address {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

.show-more {
  width: 870px;
  height: 80px;
  /* left: 215px;
  top: 1152px; */
  background-color: #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #4290c9;
  transition: background-color 0.2s ease-in;
}

.show-more:hover {
  background-color: #e5e5e5;
}
.show-more img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}

/* Side bar*/
.widget {
}

.widget__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  position: relative;
  margin-bottom: 20px;
}

.widget__title::after{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url('./../img/chevron-up.svg');
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  position: absolute;
  
  right: 0;
  top: 0;
}

.widget__body {

}
