* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
img {
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main-content {
  width: 870px;
}

.side-bar {
  width: 270px;
}

.cards-holder {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards-holder > .card-link {
  margin-bottom: 30px;
}
a.card-link {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in;
}
a.card-link:hover {
  opacity: 0.9;
  transform: translateY(-5px);
}

.card {
  position: relative;
  width: 270px;
  background-color: #fff;
}

.card__badges {
  display: flex;
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
}

.card__badges > * + * {
  margin-left: 10px;
}

.card__badge {
  display: inline-block;
  background: #525252;
  border-radius: 4px;
  height: 22px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.card__badge--class {
  color: #000000;
  background-color: #ffcf26;
}

.card__badge--credit {
  color: #fff;
  background-color: #11be75;
}

.card__content {
  padding: 15px 15px 20px;
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  margin-bottom: 10px;
}

.card__term {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.card__metro {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.card__metro::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 11px;
  background-image: url("./../img/Vector.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.card__address {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}

.show-more {
  width: 870px;
  height: 80px;
  /* left: 215px;
  top: 1152px; */
  background-color: #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #4290c9;
  transition: background-color 0.2s ease-in;
}

.show-more:hover {
  background-color: #e5e5e5;
}
.show-more img {
  display: inline-block;
  margin-right: 10px;
  vertical-align: bottom;
}

/* Side bar*/

.widget + .widget {
  margin-top: 30px;
}

.widget__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  position: relative;
  margin-bottom: 20px;
}

.widget__title::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("./../img/chevron-up.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  position: absolute;

  right: 0;
  top: 0;
}

.location__row {
  display: flex;
}

.location__row:first-child {
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  border: 1px solid #d6d6d6;
}

.location__row:last-child {
  overflow: hidden;
  border-radius: 0 0 4px 4px;
  border: 1px solid #d6d6d6;
  border-top: none;
}
.location__btn {
  cursor: pointer;
  flex-grow: 1;
  font-family: inherit;
  height: 50px;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 50px;
  color: #3c3c3c;
  transition: background-color 0.2s ease-in;
}

.location__checkbox:checked + .location__btn {
  background-color: #ffcf26;
}
.location__checkbox + .location__btn:hover {
  background-color: #e0b000;
}

.location__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  appearance: none;
  opacity: 0;
}

/* radio widget*/

.radio {
  cursor: pointer;
  display: block;
}

.radio + .radio {
  margin-top: 15px;
}

.radio__real {
  width: 1px;
  height: 1px;
  position: absolute;
  appearance: none;
  opacity: 0;
}

.radio__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;

  border: 1px solid #777777;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: bottom;
}

.radio__real:checked + .radio__fake::before {
  background: #3c3c3c;
  width: 8px;
  height: 8px;
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio__real:checked + .radio__fake {
  background-color: #ffe074;
}

.radio__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #3c3c3c;
}
.radio__real:checked ~ .radio__title {
  font-weight: 500;
  color: #000000;
}

/*Else widget checkbox*/
.checkbox {
  display: block;
  cursor: pointer;
}
.checkbox + .checkbox {
  margin-top: 15px;
}
.checkbox__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #3c3c3c;
}
.checkbox__real:checked ~ .checkbox__title {
  font-weight: 500;
  color: #000000;
}

.checkbox__fake {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: transparent;

  border: 1px solid #777777;
  border-radius: 2px;
  margin-right: 10px;
  vertical-align: bottom;
}

.checkbox__real:checked + .checkbox__fake {
  background-color: #ffe074;
}

.checkbox__real:checked + .checkbox__fake::before {
  width: 17px;
  height: 17px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: initial;
  background-position: center;
  background-image: url("./../img/checkbox\ checked.svg");
}

.checkbox__real {
  width: 1px;
  height: 1px;
  position: absolute;
  appearance: none;
  opacity: 0;
}
.widget__hidden {
  display: none;
}

.widget__show-hidden {
  background: transparent;
  display: inline-block;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.19;
  color: #4290c9;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  margin-top: 15px;
  padding: 0;
}

.widget__show-hidden:hover {
  opacity: 0.8;
}

.toggle__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: #3c3c3c;
}

.toggle__real:checked ~ .toggle__title {
  font-weight: 500;
}

.toggle__real {
  width: 1px;
  height: 1px;
  position: absolute;
  appearance: none;
  opacity: 0;
}

.toggle__fake {
  position: relative;
  display: inline-block;
  width: 37px;
  height: 20px;
  background-color: #c4c4c4;
  border-radius: 10px;
  vertical-align: bottom;
  margin-right: 10px;
}

.toggle__fake::before {
  content: "";
  width: 16px;
  height: 16px;
  background-color: #3c3c3c;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease-in;
}

.toggle__real:checked + .toggle__fake::before {
  left: 19px;
}
.toggle__real:checked + .toggle__fake {
  background-color: #ffe074;
}

.form-btn {
  height: 50px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  line-height: 1;
  background-color: transparent;
  text-align: center;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  cursor: pointer;
  color: #000000;
}

.form-btn + .form-btn {
  margin-top: 10px;
}

.form-btn:hover{
  background-color: #e7e7e7;
}

.form-btn img{
  display: inline-block;
  margin-right: 6px;
  vertical-align: middle;
  margin-top: -2px;
}

.form-btn--submit{
  background: #FFCF26;
  border: none;
  color: #000
}
.form-btn--submit:hover{
   background-color: #ffe173;
}