* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
img{
  display: block;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.main-content {
  width: 870px;
  height: 100px;
  background-color: aquamarine;
}

.side-bar {
  width: 270px;
  height: 100px;
  background-color: aqua;
}

.card {
  position: relative;
  width: 270px;
  background-color: #fff;
}

.card__badges {
  display: flex;
  position: absolute;
  top: 10px;
  left: 15px;
  right: 15px;
}

.card__badges > * + *{
  margin-left: 10px;
}

.card__badge {
  display: inline-block;
  background: #525252;
  border-radius: 4px;
  height: 22px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
}

.card__badge--class{
  color: #000000;
  background-color: #FFCF26;
}

.card__badge--credit{
  color: #fff;
  background-color: #11BE75;
}
.card__img {
}

.card__content {
  padding: 15px 15px 20px;
}

.card__title {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.16;
  color: #000000;
  margin-bottom: 10px;
}

.card__term {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.card__metro {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 10px;
}

.card__metro::before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: baseline;
  width: 16px;
  height: 11px;
  background-image: url("./../img/Vector.svg");
  background-repeat: no-repeat;
  background-size: initial;
}

.card__address {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
}
